@tailwind base;
@tailwind components;
@tailwind utilities;

.sound-only{width: 0!important; height: 0!important; position: absolute!important; left: -9999px!important; opacity: 0!important; overflow: hidden!important;}

.banner .slick-slide{font-size: 0;}
.banner .slick-slide img{width: 100%;}
.banner .slick-dots{width: auto; text-align: left; font-size: 0; bottom: 15px; left: 15px;}
.banner .slick-dots li{width: auto; height: auto; margin: 0 8px 0 0;}
.banner .slick-dots li button{width: 12px; height: 12px; padding: 0; border: 2px solid #fff; border-radius: 12px; box-sizing: border-box;}
.banner .slick-dots li button:before{display: none;}
.banner .slick-dots li.slick-active button{background-color: #fff;}

body::before{content: ''; width: calc((100vw - 785px) / 2); height: 100vh; display: inline-block; background-color: #fff; position: fixed; top: 0; left: 0; z-index: 3;}
body::after{content: ''; width: calc((100vw - 785px) / 2); height: 100vh; display: inline-block; background-color: #fff; position: fixed; top: 0; right: 0; z-index: 3;}

.nav.active{right: 0;}
.nav-btn.active span{top: calc(50% - 1px);}

@media (min-width: 768px) {
	.nav.active{right: calc((100vw - 785px) / 2);}
}

.search__form{width: calc(100% - 36px);}
.profile-img, .search__btn, .search__close, .search__thumb{transform: translate(-50%, -50%);}